<div class="control" data-bind="event: { keydown: onKeyPress }, click: forceShow">
    <input type="text" class="textField" data-bind="value: searchText, valueUpdate: 'afterkeydown', hasfocus: searchHasFocus, attr: { placeholder: placeholder }" readonly tabindex="0" />
    <span class="dropdownButton" data-bind="css: {'opened' : dropdownVisible}" />
</div>
<div class="combobox-dropdown-menu" data-bind="visible: dropdownVisible, __cb__clickedIn: dropdownVisible">
    <!-- ko foreach: dropdownItems -->
    <!-- ko if: $data.item.IsVisible -->
    <div data-bind="click: $parent.selected.bind($parent), event: { mouseover: $parent.active.bind($parent), mouseout: $parent.inactive.bind($parent) }, css: { active: navigated, highlighted: active },  __cb__flexibleTemplate: { template: $parent.options.rowTemplate, data: $data.item }"></div>
    <!-- /ko -->
    <!-- /ko -->
    <!--alex: cancel
        <div class="nav" data-bind="with: paging">
        <p class="counter">Showing <span data-bind="text: currentFloor"></span>-<span data-bind="text: currentRoof"></span> of <span data-bind="text: totalCount"></span></p>
        <div class="pagination"><ul data-bind="visible: show, foreach: pages"><li data-bind="click: $parent.pageSelected.bind($parent), text: name, disable: isCurrent, css: {current: isCurrent}"></li></ul></div>
    </div>-->
</div>