@import "../../../../../Styles/general";
@import "../GeneralFormStyle";


.parametersUpdate {
  background: $lightblue-background-color;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: -15px;
  margin-left: -15px;
}

.parametersUpdateText {
  @extend .im-bold-text;
  padding-right: 10px;
}

.fieldCaption {
  color: $gray-text-color;
  font-size: 11px;
}

.fieldValue {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.arrow {
  background: url('../UI/Forms/Asset/AssetOperations/templateParamsUpdate/Icons/arrow.svg') no-repeat center center;
}

.arrow.active {
  background: url('../UI/Forms/Asset/AssetOperations/templateParamsUpdate/Icons/arrow_active.svg') no-repeat center center;
}

.pairFields {
  margin-bottom: 0;
  overflow: hidden;
  float: none;
  position: relative;
}


.marginLeftRight {
  margin-left: -15px;
  margin-right: -15px;
}

.pairFields .withoutIcon {
  float: left;
}

.pairFields .icon {
  float: right;
  /*position: relative;*/
  pointer-events: none;
}

.pairFields .icon span {
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-size: cover !important;
  display: block;
}

.pairFields > .icon.active {
  cursor: pointer;
  pointer-events: auto;
}

.ajaxElement .pairFields > .icon.active {
  cursor: default;
  pointer-events: none;
}

.pairFields > .icon.active:hover {
  background-color: whitesmoke;
}

.pairFields .editor {
  float: left;
  position: relative;
  overflow: auto;
  min-height: 36px;
  word-break: break-all;
  width: 85%;
}

.pairFields .editor .searcherHaspAdapterInput {
  width: 100%;
  background-image: url(../../../../images/controls/searchPlaceHolder.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  text-indent: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pairFields .editor.breakWord {
  word-break: break-word;
}

.pairFields .editor.big {
  padding: 0;
}

.pairFields .editor.general {
  padding-top: 5px;
  float: left;
  width: 85%
}

.pairFields .editor:after {
  clear: both;
}

.pairFields > .editor.nowrap, .pairFields > .editor .nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pairFields > .editor.border {
  border: 1px solid lightgray;
  padding: 7px;
  width: 100%;
}

.pairFields > .editor .border {
  border: 1px solid lightgray;
  padding: 2px 7px;
}

.pairFields > .editor .textBox {
  min-height: 26px;
}

.cross {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 13px;
  height: 13px;
  background: url(../../../../../images/controls/selectControl/cross.png) -84px -76px no-repeat;
  float: right;  
}



textarea:focus, input:focus, .searcherHaspAdapterInput:focus {
  outline: none;
  border: 2px solid #81AEF0;
}
