.select-service-form {
    &__search {
        display: flex;

        .sc_searchText {
            margin-right: 10px;
            flex: 1;
        }
    }

    .searchField {
        width: 100%;
        margin-bottom: 10px;
        padding: 0 10px;

        input {
            border: 1px solid $border-gray-color;
            padding: 2px 7px;
            line-height: 22px;
            height: 26px;
            width: 100%;
            outline: none;

            &.locationSearcher {
                padding-right: 20px;
                text-overflow: ellipsis;
            }
        }

        .search-results-control-clearfield {
            right: 16px;
        }
    }
}
