<div class="ui-input-wrapper">
    <!-- ko if: SpecialFields.Label  -->
    <div class="ui-input-wrapper__title" data-bind="text: SpecialFields.Label, tooltip: ShowTooltipByHoverTitle(), tooltipDelay: TooltipDelay"></div>
    <!-- /ko -->

    <div class="dynamic-options__more-values" data-templates-wrapper>
        <ul class="dynamic-options__wrapper-inputs" data-inputs-wrapper data-bind="foreach: KoUseValues">
            <li class="dynamic-options__wrapper-item" data-wrapper-value>
                <input class="ui-input"
                       data-bind="attr: {
                                id: ID,
                                'data-custom-id': ID,
                                placeholder: $parent.SpecialFields.Placeholder,
                                min: $parent.SpecialFields.MinValue,
                                max: $parent.SpecialFields.MaxValue,
                                readonly: $parent.KoUseDynamicReadonly,
                                step: $parent.SpecialFields.IsInteger ? 1 : 0.01,
                                'data-initial-value': InitialValue
                            },
                            event: { [$parent.KoUseTypeListener()]: $parent.KoUseEditNumber },
                            textInput: Value,
                            css: { 'ui-input_error': IsInvalid }" />
                <!-- ko if: $index() > 0 -->
                <button type="button"
                        class="ui-button-remove"
                        data-bind="click: $parent.KoUseRemoveValue">
                </button>
                <!-- /ko -->
            </li>
        </ul>

        <div class="dynamic-options__buttons">
            <!-- ko if: SpecialFields.MoreValues &&  !KoUseDynamicReadonly() -->
            <button
                    type="button"
                    class="ui-button-add"
                    data-bind="click: KoUseCloneNumber,
                    css: { 'ui-dynamic-readonly': IsDisabledMultipleValues() },
                    attr: { disabled: IsDisabledMultipleValues() }">
            </button>
            <!-- /ko -->
            <!-- ko if: ShowTooltipByHoverTitle() -->
            <i class="ui-icon-question dynamic-options__buttons-item" data-bind="tooltip: ShowTooltipByHoverTitle(), tooltipDelay: TooltipDelay">
                <img src="/images/icons/question.svg" />
            </i>
            <!-- /ko -->
        </div>
    </div>
</div>
