<div class="spec_form">
    <div class="spec_form-dataBlock">
        <div class="spec_form-dataLeftColumnBlock">
            <!--<div class="spec_form-modelName">
                <div class="spec_form-header" data-bind="restext: 'ActivesRequestSpecification_Model'"></div>
                <div class="spec_form-data spec_form-bigHeader" data-bind="text: ModelFullName"></div>
            </div>-->
            <div class="spec_form-modelName">
                <div class="spec_form-header" data-bind="restext: 'ActivesRequestSpecification_Model'"></div>
                <div class="spec_form-data spec_form-bigHeader invoice-model cursor-pointer" data-bind="text: ModelFullName,click: SelectModel"></div>
            </div>
            <div class="spec_form-productNumber">
                <div class="spec_form-header" data-bind="restext: 'SpecificationForm_ProductNumber'"></div>
                <div class="spec_form-data" data-bind="text: ModelProductNumber"></div>
            </div>
            <div class="spec_form-manufacturerName">
                <div class="spec_form-header" data-bind="restext: 'SpecificationForm_Manufacturer'"></div>
                <div class="spec_form-data" data-bind="text: ModelManufacturerName"></div>
            </div>
            <div class="spec_form-typeName">
                <div class="spec_form-header" data-bind="restext: 'SpecificationForm_TypeName'"></div>
                <div class="spec_form-data" data-bind="text: ModelTypeName"></div>
            </div>
            <div class="spec_form-noteBlock">
                <div class="spec_form-header" data-bind="restext: 'ActivesRequestSpecification_Note'"></div>
                <div class="spec_form-data">
                    <textarea class="spec_form-note-TextField" maxlength="500" data-bind="textInput: Note, disable: !CanEdit()" />
                </div>
            </div>
        </div>
        <div class="spec_form-dataRightColumnBlock">
            <div class="spec_form-dataRightColumnStart">
                <div class="spec_form-RightFirstColumn">
                    <div class="spec_form-countBlock">
                        <div class="spec_form-header" data-bind="restext: 'SpecificationForm_Count'"></div>
                        <div class="spec_form-data">
                            <input type="text" class="spec_form-count-TextField" data-bind="value: Count, valueUpdate: 'input', disable: !CanEdit() || !CanEditCount() || !isOperationeActivesRequestSpecificationProperties()" />
                        </div>
                    </div>
                    <div class="spec_form-priceBlock">
                        <div class="spec_form-header" data-bind="restext: 'SpecificationForm_PriceForOne'"></div>
                        <div class="spec_form-data">
                            <input type="text" class="spec_form-price-TextField" data-bind="textInput: PriceInput, event: { focusout: textFieldFocusOut }, disable: !CanEdit()" />
                        </div>
                    </div>
                    <div class="spec_form-NDSBlock">
                        <div class="spec_form-header" data-bind="restext: 'SpecificationForm_Vat'"></div>
                        <div class="spec_form-data">
                            <div class="spec_form-nds-dd combobox" data-bind="combobox: { dataSource: getNDSTypeList }, comboboxValue: SelectedNDSType, style: { 'pointer-events': CanEdit() ? 'auto' : 'none' }"></div>
                            <!-- ko if: IsNeedShowPercentBlock -->
                            <div class="spec_form-ndsPercents" data-bind="foreach: NDSPercentList, css: { 'blured' : IsNeedBlurPercentList }">
                                <!-- ko if: ID !== '0' -->
                                <div class="spec_form-NDSPercent-item" data-bind="text: (Name + '%'), css: { 'active' : $data == $parent.SelectedNDSPercent(), 'cursor-pointer' : $parent.CanEdit() }, click: $parent.OnPercentSelected"></div>
                                <!-- /ko -->
                            </div>

                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class="spec_form-RightSecondColumn">
                    <div class="spec_form-unitBlock">
                        <div class="spec_form-header" data-bind="restext: 'PurchaseSpecification_Unit'"></div>
                        <div class="spec_form-data">
                            <div class="spec_form-unit-dd combobox" data-bind="combobox: { dataSource: getUnitList }, comboboxValue: SelectedUnit, style: { 'pointer-events': CanEdit() ? 'auto' : 'none' }"></div>
                        </div>
                    </div>
                    <!-- ko if: IsNeedShowPercentBlock -->
                    <div class="spec_form-NDSCustomBlock arsForm" data-bind="css: { 'blured' : IsNeedBlurCustomNDSBlock }">
                        <div class="spec_form-header" data-bind="restext: 'SpecificationForm_AnotherSum'"></div>
                        <div class="spec_form-data">
                            <input type="text" class="spec_form-NDS-TextField" data-bind="textInput: NDSCustomValueInput, event: { focusout: textFieldFocusOut }, disable: !CanEdit()" />
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="spec_form-costBlock">
                <div class="spec_form-costWithout">
                    <div class="spec_form-header" data-bind="restext: 'ActivesRequestSpecification_CostWithoutNDS'"></div>
                    <div class="spec_form-data" data-bind="text: TotalValuesString().CostWithoutNDS"></div>
                </div>
                <div class="spec_form-costNDS">
                    <div class="spec_form-header" data-bind="restext: 'ActivesRequestSpecification_SumNDS'"></div>
                    <div class="spec_form-data" data-bind="text: TotalValuesString().SumNDS"></div>
                </div>
                <div class="spec_form-costWith">
                    <div class="spec_form-header" data-bind="restext: 'ActivesRequestSpecification_CostWithNDS'"></div>
                    <div class="spec_form-data" data-bind="text: TotalValuesString().CostWithNDS"></div>
                </div>
            </div>
        </div>
    </div>
</div>