<div class="asset-link-main">
    <div class="asset-link-body">
        <div data-bind="visible: mode() == modes.tabModel">
            <div class="asset-link_searchText">
                <input type="text" class="text-input searcherInput tabModelSearcher" data-bind="resattr: { placeholder: 'LicenceSchemesFilterNamePlaceholder'}, textInput: searchText_Model">
                <div class="asset-link_searchText-clearfield cursor-pointer" data-bind="click: function() {searchText_Model('');}, visible: searchText_Model().length > 0"></div>
            </div>
            <div class="asset-model-link_tableWrapper">
                <div class="asset-link_tableColumn listView" data-bind="with: lv_tabModel">
                    <div data-bind="koListView: {settingsName: viewName, controlInitialized: listViewInit, retrieveVirtualItems: listViewRetrieveVirtualItems, virtualMode: true, itemClick: listViewRowClick}"></div>
                </div>
            </div>
        </div>
    </div>
</div>