<div class="treeControlWindow-wrapper">
    <div class="treeControlWindow-buttonRow">
        <div class="treeControlWindow-button" data-bind="restext: 'CollapseAll', click: CollapseAll"></div>
        <div class="treeControlWindow-button" data-bind="restext: 'ExpandAll', click: ExpandAll" style="display: none"></div>
        <div class="treeControlWindow-button" data-bind="restext: 'ClearAll', click: DeselectAll, visible: DeselectAllVisible"></div>
    </div>
    <div class="treeControlWindow-tree"></div>
</div>