/*#region Flex for all browsers*/
/*#endregion*/
.im-base-text, .im-big-text, .im-bold-text, .im-small-text, .sublicenseForm h1, .sublicenseForm .field-title, .sublicenseForm .field-value {
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2a29;
  font-weight: normal;
  font-size: 12px; }

.im-big-text {
  font-size: 12px;
  font-weight: bold; }

.im-bold-text {
  font-weight: bold; }

.im-small-text {
  font-size: 11px; }

.im-big-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: normal; }

.im-middle-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: normal; }

.sublicenseForm {
  overflow: hidden; }
  .sublicenseForm .b-requestDetail-left {
    word-wrap: break-word;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 105px; }
  .sublicenseForm .b-requestDetail-right {
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
    width: 105px;
    height: 100%; }
  .sublicenseForm .sublicense-commonTab-left {
    display: inline-block;
    width: calc(50% - 20px); }
  .sublicenseForm .sublicense-commonTab-right {
    display: inline-block;
    position: absolute;
    right: 10px;
    width: calc(50% - 10px); }
  .sublicenseForm h1 {
    color: #000 !important;
    font-size: 22px !important;
    margin-left: 25px; }
  .sublicenseForm .list {
    margin-left: 25px; }
  .sublicenseForm .field-area {
    margin-top: 30px;
    margin-left: 25px; }
  .sublicenseForm .field-title {
    color: #9D9E9E !important;
    font-size: 11px !important; }
  .sublicenseForm .field-value {
    color: #000 !important;
    font-size: 12px !important; }
  .sublicenseForm .b-requestDetail__icon-wrap {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px; }
  .sublicenseForm .b-requestDetail__icon-wrap:hover .b-content-table__workplaceIcon-header {
    cursor: pointer; }
  .sublicenseForm .show-license-details {
    width: 18px;
    height: 18px;
    visibility: inherit;
    margin-right: 5pt;
    flex-shrink: 0; }
  .sublicenseForm .tab-content {
    margin-bottom: 100px; }

.b-requestDetail__icon_permissions {
  background: url("../UI/Forms/Asset/SoftwareLicence/Icons/Access_references_passive.svg") no-repeat; }

.b-requestDetail__icon_permissions:hover {
  background: url("../UI/Forms/Asset/SoftwareLicence/Icons/Access_references_active.svg") no-repeat;
  opacity: .50; }

.b-requestDetail__icon_permissions-active {
  background: url("../UI/Forms/Asset/SoftwareLicence/Icons/Access_references_active.svg") no-repeat; }

.sublicense-form-buttons {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: flex-end;
  -ms-flex-pack: end;
  align-items: center;
  -ms-flex-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 25px; }
