@model InfraManager.UI.Web.Models.Asset.SettingsAvailabilityModel
<style>
    .b-main {
        overflow: hidden;
    }
</style>

<div class="settingsModule">
    <div class="settings-views" data-bind="template: {name: '../UI/Lists/Settings/Settings', afterRender: AfterRenderMode}"></div>
    <div class="settings-main" data-bind="template: {name: ViewTemplateName}"></div>
</div>

<script type="text/javascript">
    @section MainScript {
    require(['jquery', 'knockout'], function ($, ko) {
            require(['ui_lists/Settings/Settings'], function (vm) {
                hideSpinner($('.b-main')[0]);
                //
                functionsAvailability = @Html.Raw(Json.Serialize(Model));
                var mod = new vm.ViewModel();
                ko.applyBindings(mod, document.getElementsByClassName('settingsModule')[0]);
                mod.Load();
            });
    });
    }
</script>
