<div class="tabCaption im-big-header im-list-header">
    <span data-bind="restext: 'Tab_Finance'"></span>
    <span class="tabCaption-icon-plus" data-bind="click: function() { $control.imList.ExecuteOperation(getTextResource('Add')) }, cssOperation: { 'active' : $root.CanEdit() }, operationID: 857, tooltip: getTextResource('Add')"></span>
</div>
<div class="financeBudgetRowList tabContent im-list" data-bind="style: {bottom: ($control.imList.SelectedItemsCount() > 0) && $root.CanEdit()  == true ? '90px' : '30px'}">
    <table class="imList-table">
        <colgroup>
            <col style="width: 38px" />
            <col style="width: 70px" />
            <col style="width: calc(100% - 628px)" />
            <col style="width: 200px" />
            <col style="width: 200px" />
            <col style="width: 120px" />
        </colgroup>
        <thead>
            <tr class="imList-tableHeaderRow">
                <th class="imList-tableHeaderCheckBox" style="text-align:center;">
                    <input class="b-content-table__th-checkbox" type="checkbox" data-bind="checked: $control.SelectAll" />
                </th>
                <th data-bind="restext: 'Identifier'"></th>
                <th data-bind="restext: 'Name'"></th>
                <th data-bind="restext: 'FinanceBudgetRow_BudgetArticle'"></th>
                <th data-bind="restext: 'Initiator'"></th>
                <th class="imList-rightCell" data-bind="restext: 'FinanceBudgetRow_TotalSum'"></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: $control.imList.List -->
            <tr class="imList-tableRow" data-bind="click: $parent.$control.ShowObjectForm">
                <td class="imList-tableCheckBox">
                    <input type="checkbox" class="im-list-item__chb" data-bind="checked: Selected, visible: $root.CanEdit, click: RowClick" />
                </td>
                <td class="imList-clickableCell" data-bind="text: Identifier"></td>
                <td class="imList-clickableCell" data-bind="text: Name"></td>
                <td data-bind="text: BudgetFullName"></td>
                <td data-bind="text: InitiatorFullName"></td>
                <td class="imList-rightCell" data-bind="text: $parent.$control.SumToString(Sum)"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <!-- ko if: $control.imList.List().length == 0 -->
    <center><span class="im-list-noitems" data-bind="restext: 'ListIsEmpty'"></span></center>
    <!-- /ko -->
</div>
<!--когда панели появятся автоматом должен установиться отступ tabContent от нижнего края посредствам ko-->
<div class="im-list__actions" data-bind="visible: ($control.imList.SelectedItemsCount() > 0) && $root.CanEdit()">
    <div class="im-list__actions-wrapper">
        <div class="im-list__actions-list" data-bind="foreach: $control.imList.OperationList">
            <button class="button button_b-ctrl_note button_size_M button_type_normal im-list__actions-button" data-bind="visible: IsVisible, click: OnClick">
                <div class="button__label" data-bind="text: Text"></div>
            </button>
        </div>
        <div class="im-list__right-panel">
            <div class="im-list__actions-count"><span data-bind="restext: 'Choosen'"></span>: <span data-bind="text: $control.imList.SelectedItemsCount()"></span></div>
            <div class="im-list__actions-close"><a data-bind="restext: 'UndoCheck', click: $control.ClearSelection"></a></div>
        </div>
    </div>
</div>
<div class="ndsTotalValues">
    <span class="im-bold-text paddingRight" style="text-align: right" data-bind="restext: 'TotalSummaryHeader'"></span>
    <span class="imList-rightCell paddingRight" data-bind="text: $root.PurchaseFinanceBudgetRowList_SumString"></span>
</div>