<div id="extendedSearchID" class="sd-left">
</div>
<div class="sd-right">
    <div class="searchForm__topLine">
        <div class="searchForm__buttonSearch">
            <a class="blue-btn b-requestDetail__searchBtn" data-bind="restext: 'Find', click: ButtonSearchClick"></a>
        </div>
        <div class="searchForm__searcher sd-search">
            <input type="text" class="text-input searcherInput" data-bind="textInput: SearcherText, resattr: {placeholder : 'SearchEmpty'}, event: {keyup: OnEnter}" />
        </div>
    </div>
    <!-- ko if: searchResult() != searchResults.nothingFound -->
    <div class="foundObjects">
        <!-- ko if: callList() != null && callList().imList.List().length > 0 -->
        <div data-bind="template: {name: 'SDForms/Controls/CallList', data: { $control: callList(), $mode: 'search', $header: 'search' } }" />
        <!-- /ko -->
        <!-- ko if: massiveIncidentList() != null && massiveIncidentList().imList.List().length > 0 -->
        <div data-bind="template: {name: 'SDForms/Controls/MassiveIncidentList', data: { $control: massiveIncidentList(), $mode: 'search', $header: 'search' } }" />
        <!-- /ko -->
        <!-- ko if: workorderList() != null && workorderList().imList.List().length > 0 -->
        <div data-bind="template: {name: 'SDForms/Controls/WorkOrderList', data: { $control: workorderList(), $mode: 'search', $header: 'search' } }" />
        <!-- /ko -->
        <!-- ko if: problemList() != null && problemList().imList.List().length > 0 -->
        <div data-bind="template: {name: 'SDForms/Controls/ProblemList', data: { $control: problemList(), $mode: 'search', $header: 'search' } }" />
        <!-- /ko -->
        <!-- ko if: kbaList() != null && kbaList().imList.List().length > 0 -->
        <div data-bind="template: {name: 'SDForms/Controls/KbaList', data: { $control: kbaList() } }" />
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: searchResult() === searchResults.nothingFound -->
    <div class="listEmpty" style="padding-top:100px">
        <span data-bind="restext: 'ListIsEmpty'" />
    </div>
    <!-- /ko -->
</div>
