<div class="treeAndSearchControl-wrapper">
    <!--<div class="treeAndSearchControl-firstRow" data-bind="visible: ShowTree">
        <div class="treeAndSearchControl-searchBtn" data-bind="restext: 'LikeSearch', click: SetSearcherVisible,  css: { 'active': IsSearcherVisible }"></div>
        <div class="treeAndSearchControl-treeBtn" data-bind="restext: 'LikeTree', click: SetTreeVisible, css: { 'active': IsTreeVisible }"></div>
        <div class="treeAndSearchControl-newWindowBtn" data-bind="restext: 'OpenInNewWindow', click: OpenInNewWindow, visible: IsTreeVisible"></div>
    </div>-->
    <!--<div class="treeAndSearchControl-tree" data-bind="visible: IsTreeVisible"></div>-->
    <div class="treeAndSearchControl-search" data-bind="visible: IsSearcherVisible"></div>
</div>