<style>
    .b-main {
        overflow: hidden;
    }
</style>

@*<div id="kbaSearch" class="b-wrapper" data-bind="template: {name: 'KB/KBASearch', afterRender: AfterRender}"></div>

<script type="text/javascript">
 @section MainScript {
    require(['jquery', 'knockout', 'models/KB/KBASearch'], function ($, ko, vm) {
            var mod = new vm.ViewModel();
            var loadD = mod.Load();
            $.when(loadD).done(function () {
                ko.applyBindings(mod, document.getElementById('kbaSearch'));
                hideSpinner($('.b-main')[0]);
            });
    });
    }
</script>*@


<div class="knowlegdeBase-module" data-bind="template: {name: '../UI/Lists/KB/KBASearch', afterRender: AfterRender}"></div>

<script type="text/javascript">
    @section MainScript {
    require(['jquery', 'knockout'], function ($, ko) {
        require(['ui_lists/KB/KBASearch'], function (vm) {
            hideSpinner($('.b-main')[0]);
            //
            var mod = new vm.ViewModel();
            ko.applyBindings(mod, document.getElementsByClassName('knowlegdeBase-module')[0]);
            mod.Load();
        });
    });
    }
</script>