
.b-content-substitution-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: $white-background-color;
    position: relative;
}

.b-content-substitution-container-header {
    width: 100%;
    margin-top: 10px;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flex-start;
    -ms-flex-pack: start;
    align-items: flex-end;
    -ms-flex-align: end;
}

.b-content-substitution-container-body {
    height: 250px;
    right: 0;
    left: 0;
    top: 60px;
    bottom: 0;
    overflow: auto;
    padding-right: 3px;
    margin: 10px;

    &_full {
        height: 100%;
    }
}

.substitution-text_ {
    margin-left: 20px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.substitution-line_ {
    margin-left: 20px;
}

.substitution-header_list-divider {
    border-bottom: 1px solid $border-gray-color;
    min-width: 15px;
    height: 44px;
    flex-grow: 0;
}

.substitution-header_list-divider-last {
    @extend .substitution-header_list-divider;
    flex-grow: 1;
    -ms-flex-positive: 1;
}

.substitution-header_list {
    height: 36px;
    background-color: $lightblue-background-color;
    text-align: center;
    border-bottom: 1px solid $border-gray-color;
    padding: 8px;
}

.substitution-header_list.active {
    border: 1px solid $border-gray-color;
    border-bottom: 0px;
    background-color: $white-background-color;
    height: 44px;
    padding: 12px;
}

.substitution-header-text {
    line-height: 20px;
    @extend .im-base-text;
    color: $service-catalog-light-gray;
}

.substitution-header_list.active .substitution-header-text {
    color: $blue-text-color;
}

.substitution-withFinishedWorkflowWrapper {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flex-start;
    -ms-flex-pack: start;
    align-items: center;
    -ms-flex-align: center;
    margin: 20px 0 20px 20px;
}

.substitution-withFinishedWorkflowHeader {
    margin-left: 10px;
}