<div style="position:absolute;background-color: white;width:100%;" class="b-content-table__center">
    <div id="regionAccountLocation" class="regionFilterTree-location" data-bind="visible: $root.IsLocationActive"></div>
    <!--<div id="regionOrgStructure" class="regionFilterTree-orgstructure" data-bind="visible: $root.IsOrgStructureActive">
        <div class="regionFilterTree-orgstructure-dd combobox" data-bind="combobox: { dataSource:  $root.getOrgDDList }, comboboxValue:  $root.SelectedField"></div>
        <div class="regionFilterTree-orgstructure-tree"></div>
    </div>-->
    <!--<span data-bind="if:  $root.startLoadingFilters">
        <div id="regionFilters" class="regionFilterTree-filter" data-bind="template: { name: 'Filter/Filters', afterRender: filtersModel.AfterRender, data:  $root.filtersModel }, visible:  $root.IsFiltersActive"></div>
    </span>-->
</div>
<!--<div style="position:relative;left:150px;top:315px;" data-bind="text:'Выбрать'"></div>-->
